<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form to add new comment</h1>
    <form action="/comments" method="post">
        <div>
        <label for="user">Username</label>
        <br>
        <input name="user" type="text" id="user"/>
    </div>
    <br>
    <div>
        <label for="text">Text</label>
        <br>
        <textarea name="text" id="text" rows="3"></textarea>
    </div>
     <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>